html {
    font-size: 70%;
}

header {
    background-color: #ffffff;
}

.header-logo {
    text-align: center;
}

header img {
    width: 200px;
}

body {
    max-width: 500px;
    background-color: #ffffff;
}

h2 {
    font-weight: normal;
}

.kenmin {
    padding: 0px 20px;
    padding-bottom: 20px;
}


.kenmin .content {
    background-color: #ffffff;
    box-shadow: 1px 5px 10px 0px rgba(0,0,0,0.2);
    border-radius: 4px;
    padding: 5px 20px;
}

.kenmin .content h3 {
    padding: 0px 2px;
    font-weight: normal;
    font-size: 1.6rem;
}

.kenmin .content .date {
    text-align: right;
}

.kenmin .content p {
    font-weight: normal;
    font-size: 1.2rem;
    color: #333333;
}


.transport {
    padding: 0px 20px 10px 20px;
}

.transport h3 {
    font-weight: normal;
    font-size: 2.0rem;
}

.transport .txt-company {
    font-weight: normal;
    font-size: 1.6rem;
    color: #333333;
    border-bottom: solid 2px #16244B;
}

.transport .content {
    padding: 0px 20px 10px 20px;
}

.transport .content .txt-duration {
    font-weight: normal;
    font-size: 1.4rem;
}

.transport .content .txt-info {
    font-weight: normal;
    font-size: 1.2rem;
    color: #111111;
}
